.projectPageContainer {
    display: flex;
    flex-direction: column;

    width: 100%;

    padding-top: 3rem;

    .projectHeader {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        width: 100%;

        padding: 0 2rem 2rem 2rem;

        & h2 {
            display: flex;
            justify-self: center;

            font-size: 3rem;

            border-bottom: 2px solid var(--secondary-vibrant);
        }

        .backButton {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 5rem;

            background-color: var(--tertiary);
        }

        & a {
            display: flex;
            align-items: center;

            height: 2.5rem;
            width: 6rem;

            gap: 0.5rem;

            color: var(--text-primary);
            background-color: var(--tertiary);

            .linkDiv {
                display: flex;
                align-items: center;

                height: 100%;

                background-color: black;

                .linkImage {
                    height: 2rem;
                    width: 2rem;
                }
            }
        }
    }
}

.projectPageSection {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    padding: 3rem 0 3rem 0;

    text-align: justify;

    & h2 {
        font-size: 2rem;
    }

    & p {
        font-size: 1.2rem;
    }

    .projectSectionContent {
        width: 60%;
    }

}

.projectPageSection:nth-child(odd) {
    background-color: var(--primary-vibrant);
}