.header {
    display: flex;
    width: 100vw;
    height: var(--header-height);

    position: fixed;
    top: 0;
    left: 0;

    padding: 0 3rem 0 3rem;

    font-size: 1.3rem;
    user-select: none;

    background-color: var(--primary);
    opacity: 0.9;

    z-index: 15;

    .headerDiv {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        border-bottom: 1px solid var(--text-primary);
    }

    .logoDiv {
        display: flex;
        gap: 0.5rem;

        .logo {
            width: auto;
            height: 3rem;
        }

        .logoText {
            font-family: Mixal;
            font-size: 3rem;
        }
    }

    .headerMenuDiv {
        display: none;
    }

    .nav {
        display: flex;

        .navUl {
            display: flex;
            gap: 2.5rem;

            .navLi {
                list-style-type: none;
                transition: transform 0.3s ease;

                .navLink {
                    display: inline-block;
                    position: relative;

                    .navText {
                        display: inline-block;
                    }

                    .navIconDiv {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 0.3rem;

                        border-radius: 10px;

                        .navIcon {
                            display: none;
                        }
                    }
                }

                .activeLink {
                    & span {
                        text-decoration: underline;
                    }
                }

                & a::before {
                    content: "→";
                    position: relative;
                    left: 0;
                    opacity: 0;
                    transition: left 0.3s ease, opacity 0.3s ease;
                }

                &:hover {
                    transform: translateX(0.5rem);

                    & a::before {
                        left: -0.8rem;
                        opacity: 1;
                    }
                }
            }
        }

    }

    .pickersDiv {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
}

@media (max-width: 768px) {
    .logo, .logoText {
        display: flex;
    }

    .header .headerMenuDiv {
        display: none;
    }

    .header .nav .navUl .navLi .navLink .navText {
        display: none;
    }

    .header .nav .navUl .navLi .navLink .navIconDiv .navIcon {
        display: inline-block;
    }

    .header .nav .navUl .navLi {
        transition: none;
        transform: none;
    }

    .header .nav .navUl .navLi a::before {
        content: none;
        transition: none;
    }

    .header .nav .navUl .navLi:hover {
        transform: none;
    }

    .header .nav .navUl .navLi:hover a::before {
        left: 0;
        opacity: 0;
    }

    .header .nav .navUl .navLi .activeLink span {
        background-color: var(--primary-grayed);
    }
}


@media (max-width: 624px) {
    .header .headerLeftDiv {
        display: flex;
        gap: 1rem;
    }

    .header .nav {
        display: none;
    }

    .logoText {
        display: flex;
    }

    .logo {
        display: none;
    }

    .header .headerMenuDiv {
        display: flex;
    }

    .headerLocalePickerContainer {
        display: none;
    }
}