.longProjectCard {
    display: flex;

    max-width: 60rem;
    max-height: 20rem;
    overflow-y: auto;

    flex-wrap: wrap;

    .projectCardImageContainer {
        display: flex;
        justify-content: center;

        width: 11rem;
        height: 100%;

        padding: 1rem;

        .projectImage {
            height: 9rem;
            width: auto;

            object-fit: contain;
        }
    }

    .projectContentContainer {
        display: flex;
        flex-direction: column;

        flex: 1;
        border-left: 2px solid var(--secondary-vibrant);
        background-color: var(--primary-vibrant);

        .projectCardHeaderDiv {
            display: flex;
            justify-content: space-between;

            .projectStatus {
                height: 100%;
                padding: 0.3rem 0.3rem;
                border-left: 2px solid var(--secondary-vibrant);
                border-bottom: 2px solid var(--secondary-vibrant);
                background-color: var(--tertiary);
                font-weight: bold;
            }

            & h3 {
                padding: 0.3rem 0.3rem 0.3rem 1rem;
            }
        }

        .projectDesc {
            height: 100%;

            text-align: justify;
            padding: 0.3rem 1rem 0.3rem 1rem;
        }

        .projectTechnologies {
            display: flex;
            background-color: var(--tertiary);
            border-top: 2px solid var(--secondary-vibrant);

            & p {
                padding: 0.3rem 0.3rem 0.3rem 1rem;
            }
        }
    }
}

@media (max-width: 600px) {
    .longProjectCard {
        max-width: 32rem;
        max-height: 50rem;

        .projectCardImageContainer {
            display: flex;
            justify-content: center;

            width: 100%;
            height: 100%;

            padding: 1rem;

            .projectImage {
                height: 9rem;
                width: auto;

                object-fit: contain;
            }
        }

        .projectContentContainer {
            border-left: none;
            border-top: 2px solid var(--secondary-vibrant);

            .projectCardHeaderDiv {

                .projectStatus {
                    height: 100%;
                    padding: 0.3rem 0.3rem;
                    border-left: 2px solid var(--secondary-vibrant);
                    background-color: var(--tertiary);
                    font-weight: bold;
                }

                & h3 {
                    padding: 0.3rem 0.3rem 0.3rem 1rem;
                }
            }

            .projectDesc {
                height: 100%;

                text-align: justify;
                padding: 0.3rem 1rem 0.3rem 1rem;
            }

            .projectTechnologies {
                display: flex;
                background-color: var(--tertiary);
                border-top: 2px solid var(--secondary-vibrant);

                & p {
                    padding: 0.3rem 0.3rem 0.3rem 1rem;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .longProjectCard {
        max-width: 35rem;
        min-height: 18rem;
        max-height: 25rem;

        .projectCardImageContainer {
            align-self: center;
        }
    }
}