.firstSectionContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    width: 60%;

    gap: 5rem;


    .profilePictureSection {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .profilePictureContainer {
            background-color: var(--tertiary);

            border-radius: 50%;

            padding: 1.5rem;

            cursor: pointer;

            .profilePicture {
                background-color: transparent;
                height: 17rem;
                width: 17rem;
            }
        }


        .linksSection {
            display: flex;
            justify-content: center;
            gap: 1rem;

            .linkImage {
                height: 3rem;
                width: 3rem;
            }

            .linkDiv {
                display: flex;
                align-items: center;
                justify-content: center;

                width: 3.5rem;
                height: 3.5rem;

                & a {
                    display: flex;
                    align-items: center;
                }
            }

            .linkedin {
                background-color: #0078B6;
            }

            .resumeDiv {
                display: flex;
                align-items: center;
                background-color: var(--tertiary);

                width: 7rem;

                & a {
                    color: var(--text-primary);

                    .downloadImage {
                        height: 2rem;
                        width: 2rem;
                    }
                }
            }
        }
    }

    .presentationSection {
        display: flex;
        flex-direction: column;
        flex: 1;

        .profileLocationSection {
            display: flex;
            font-size: 1.2rem;

            gap: 0.3rem;

            .mapPin {
                color: var(--secondary-vibrant);
            }
        }

        .presentationTitle {
            font-size: 2rem;
        }

        .presentationDescription {
            font-size: 1.5rem;
            text-align: justify;
        }
    }


}

