.resumeSectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    gap: 1rem;

    .sectionHeader {
        display: flex;
        width: 50%;
    }

    .resumeSectionContainer {
        display: flex;
        width: 50%;
    }
}