.projectSectionContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .projectSmallCardList {
        display: flex;
        gap: 1rem;

        .projectCard {
            display: flex;
            flex-direction: column;
            cursor: pointer;

            height: 17rem;
            width: 20rem;
            gap: 1rem;

            background-color: var(--primary);

            .projectCardImageContainer {
                display: flex;

                .projectImage {
                    height: 7rem;
                    width: 100%;
                    object-fit: contain;
                }
            }

            .projectContentContainer {
                display: flex;
                flex-direction: column;

                height: 100%;

                padding: 0.5rem 1rem 0.5rem 1rem;

                text-align: justify;
            }
        }
    }
}