.skillsSectionContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 1rem;

    .sectionHeader {
        display: flex;
        width: 50%;
    }

    .skillList {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        gap: 1.5rem;

        .skillCardDiv {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 6rem;

            gap: 0.5rem;

            .skillImageContainer {
                display: flex;
                justify-content: center;
                align-items: center;

                padding: 0.2rem;
                border-radius: 30%;

                .skillImage {
                    width: 3rem;
                    height: 3rem;
                }
            }

            .whiteBackground {
                background-color: white;
            }
        }


    }
}