.projectsPage {
    display: flex;
    justify-content: center;

    width: 100%;
    padding: 3rem 0 3rem 0;

    .projectListContainer {
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 2.5rem;
        padding: 3rem 0 3rem 0;
    }
}