:root {
    --primary: #F9F5F2;
    --primary-vibrant: white;
    --secondary: #2c2c2c;
    --secondary-vibrant: black;
    --header-height: 4rem;
    --tertiary: #f6cb3a;
    --tertiary-light: #fdf5c8;
    --text-primary: black;
}

[data-theme='dark'] {
    --primary: #2c2c2c;
    --primary-vibrant: black;
    --secondary: #F9F5F2;
    --secondary-vibrant: white;
    --tertiary: #4650bc;
    --tertiary-light: #91A8ED;
    --text-primary: white;
}

@font-face {
    font-family: 'Mixal';
    src: url('/fonts/mixal/mixal-fontfamily/Mixal-UltraBold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: var(--font-athiti);
    font-size: 1rem;

}

body {
    color: var(--text-primary);
    background: var(--primary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--text-primary);
    font-family: var(--font-athiti);
}

main {
    display: flex;
    flex-direction: column;
    margin-top: var(--header-height);
}

.nbShadow {
    box-shadow: 2px 2px 0 0 black;
    transition: transform .25s cubic-bezier(.645, .045, .355, 1), box-shadow .25s cubic-bezier(.645, .045, .355, 1);
    transform: translate(0px);
    border: 2px solid black;
    background-color: black;

    &:hover {
        box-shadow: 4px 4px 0 0 black;
        transform: translate(-4px, -4px);
    }
}