.homePageContainer {
    display: flex;
    flex-direction: column;

    .contentSection {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 4rem 0 4rem 0;
    }

    .firstSection {
        height: calc(100vh - var(--header-height));
        padding: 0;
    }

    .resumeSection {
    }

    .projectSection {
    }

    .skillsSection {
    }

    .lastSection {
    }
}

.contentSection:nth-child(even) {
    background-color: var(--primary-vibrant);
}

@media (max-width: 600px) {
    .homePageContainer {
        .firstSection {
            height: calc(100vh + var(--header-height));
            padding: 0;
        }
    }
}